{% extends 'auctions/layout.html' %}

{% block body %}
    <h1>Watchlist</h1>
    <div>
        <div class="row">
            {% for listing in watchlist %}
                <div class="card m-3" style="width: 18rem;">
                    <a href="{% url 'displayPage' listing.title %}"><img class="card-img-top" src="{{ listing.image_url }}" alt="{{ listing.titile }}"></a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'displayPage' listing.title %}">{{ listing.title }}</a></h5>
                        <p class="card-text">Description: {{ listing.description }}</p>
                        <p class="card-text">Price: {{ listing.price }}</p>
                        <p class="card-text">Owner: {{ listing.owner }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>  
    </div>
{% endblock %}